<div class="container-fluid">
    <div id="nav">
        <img src="{{ asset('img/img_lycee.jpg') }}" class="img-fluid" id="header-img" alt="Responsive image" width="100%">

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1F65A1;">

            <h1 class="navbar-brand d-md-none" id="navbrand">Lycée Marcelle Pardé</h1>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center justify-content-center" id="navbarText">
                <ul class="navbar-nav mr-auto nav-fill w-100">

                    <li class="nav-item">
                        <a class="nav-link hvr-underline-from-center" href="{{ path('index') }}">{{ 'Accueil'|upper }}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link hvr-underline-from-center" href="{{ path('formations') }}">{{ 'Résumé des Formations'|upper }}</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle hvr-underline-from-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'Formations & Dispositifs'|upper }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <h6 class="dropdown-header">BAC Professionnel</h6>
                            {% for filiere in listFilieres %}
                                {% if filiere.category == 'BAC Professionnel' %}
                                    <a class="dropdown-item" href="{{ path('filiere', {'id': filiere.id, 'title': slugify(filiere.title) }) }}">{{ filiere.title }}</a>
                                {% endif %}
                            {% endfor %}
                            <div class="dropdown-divider"></div>

                            <h6 class="dropdown-header">CAP</h6>
                            {% for filiere in listFilieres %}
                                {% if filiere.category == 'CAP' %}
                                    <a class="dropdown-item" href="{{ path('filiere', {'id': filiere.id, 'title': slugify(filiere.title) }) }}">{{ filiere.title }}</a>
                                {% endif %}
                            {% endfor %}
                            <div class="dropdown-divider"></div>

                            <h6 class="dropdown-header">Dispositifs Spéciaux</h6>
                            {% for filiere in listFilieres %}
                                {% if filiere.category == 'Dispositifs' %}
                                    <a class="dropdown-item" href="{{ path('filiere', {'id': filiere.id, 'title': slugify(filiere.title) }) }}">{{ filiere.title }}</a>
                                {% endif %}
                            {% endfor %}
                            <div class="dropdown-divider"></div>

                            <h6 class="dropdown-header">Autres formations</h6>
                            {% for filiere in listFilieres %}
                                {% if filiere.category == 'Autres formations' %}
                                    <a class="dropdown-item" href="{{ path('filiere', {'id': filiere.id, 'title': slugify(filiere.title) }) }}">{{ filiere.title }}</a>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link hvr-underline-from-center" href="{{ path('sondages') }}">{{ 'Sondages'|upper }}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link hvr-underline-from-center" href="{{ path('histoire') }}">{{ 'Histoire du lycée'|upper }}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link hvr-underline-from-center" href="{{ path('plan_du_lycee') }}">{{ 'Plan du Lycée'|upper }}</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>