<div class="container-fluid">
    <div id="nav">
        <img src="{{ asset('img/img_lycee.jpg') }}" class="img-fluid" id="header-img" alt="Responsive image" width="100%">

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1F65A1;">

            <h1 class="navbar-brand d-md-none" id="navbrand">Lycée Marcelle Pardé</h1>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center justify-content-center" id="navbarText">
                <ul class="navbar-nav mr-auto nav-fill w-100">

                    <li class="nav-item">
                        <a class="nav-link hvr-underline-from-center" href="{{ path('index') }}">{{ 'Accueil'|upper }}</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle hvr-underline-from-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'Formations'|upper }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('formations') }}">Tableau des formations</a>
                            <div class="dropdown-divider"></div>
                            {% for filiere in listFilieres %}
                                <a class="dropdown-item" href="{{ path('filiere', {'id': filiere.id, 'title': slugify(filiere.title) }) }}">{{ filiere.title }}</a>
                            {% endfor %}
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle hvr-underline-from-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'Dispositifs Spéciaux'|upper }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('mlds') }}">Mission de Lutte contre le Décrochage Scolaire</a>
                            <a class="dropdown-item" href="{{ path('ulis') }}">Unité localisée pour l’inclusion scolaire</a>

                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link hvr-underline-from-center" href="{{ path('sondages') }}">{{ 'Sondages'|upper }}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link hvr-underline-from-center" href="{{ path('histoire') }}">{{ 'Histoire du lycée'|upper }}</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>