{% extends 'base-admin.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block body %}
    <h1>Evenement</h1>
    <div class="row">
        <a href="{{ path('addEvent') }}">
            <div class="card card-add">
                <img src="{{ asset('img/icon/add.png') }}"/>
            </div>
        </a>
        {% for event in events %}
            <div class="card card-basic">
                <h2>{{ event.title }}</h2>
                <a href="{{ path('deleteEvent') }}" id="delete-event" class="btn btn-danger"><img src="{{ asset('img/icon/remove.png') }}" class="icon"/>Suppression</a>
                <a href="{{ path('editEvent') }}" id="edit-event" class="btn btn-info"><img src="{{ asset('img/icon/valid.png') }}" class="icon"/>Edition</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
