{% extends 'base-admin.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block body %}
    <h1 class="display-4">Evenements</h1>

    <p>
        Retrouvez sur cette page la liste des événements regroupant les sondages proposés par le Lycée Marcelle Pardé.
        Vous pouvez en ajouter de nouveaux, editer ceux qui existent ou bien les supprimer.
    </p>

    <div class="row">
        <div class="card card-add">
            <a href="{{ path('addEvent') }}" class="card-add-a"><img src="{{ asset('img/icon/add.png') }}" class="card-add-img"/></a>
        </div>
        {% for event in events %}
            <div class="card card-basic">
                <h2 class="card-table-title">{{ event.title }}</h2>
                <hr>
                <div class="flex-end">
                    <a href="{{ path('deleteEvent', {'id':event.id}) }}" id="delete-event" class="btn btn-danger"><img src="{{ asset('img/icon/remove.png') }}" class="icon"/>Suppression</a>
                    <a href="{{ path('editEvent', {'id':event.id}) }}" id="edit-event" class="btn btn-info"><img src="{{ asset('img/icon/edit.svg') }}" class="icon"/>Edition</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
