{% extends 'admin/base-admin.html.twig' %}

{% block title %}AdminController{% endblock %}

{% block body %}
    <h1 class="display-4">Filières et dispositifs</h1>

    <p>
        Retrouvez sur cette page la liste des filières et dispositifs proposés par le Lycée Marcelle Pardé.
        Vous pouvez en ajouter de nouvelles, éditer celles et ceux qui existent ou bien les supprimer.
    </p>

    <div class="row">
        <div class="card card-add">
            <a href="{{ path('filiere_add') }}"><img src="{{ asset('img/icon/add.png') }}" class="card-add-img"/></a>
        </div>
        {% for filiere in filieres %}
            <div class="card card-basic d-flex flex-column p-2">
                <h2 class="card-table-title">{{ filiere.title|slice(0, 30) }} ...</h2>
                <hr>
                <div class="flex-end">
                    <div class="col-6">
                        <a id="delete-event" class="btn btn-danger btn-block" data-toggle="modal" data-target="#removeFilierePopUp{{ filiere.id }}">
                            <img src="{{ asset('img/icon/remove.png') }}" class="icon" alt=""/>
                            <span style="font-size:0.9em;">Suppression</span>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{ path('filiere_edit', {'id': filiere.id }) }}" id="edit-event" class="btn btn-info">
                            <img src="{{ asset('img/icon/edit.svg') }}" class="icon" alt=""/>
                            Edition
                        </a>
                    </div>
                    <div class="col-12">
                        <a href="{{ path('singleQrcode', {'item': 'filiere', 'id': filiere.id, 'url': path('filiere', {'id': filiere.id, 'title': slugify(filiere.title) }) }) }}" id="edit-event" class="btn btn-dark btn-block" target="_blank">
                            <img src="{{ asset('img/icon/qrcode.png') }}" class="icon"/>
                            QRCode
                        </a>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="removeFilierePopUp{{ filiere.id }}" tabindex="-1" role="dialog" aria-labelledby="removeFilierePopUpLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="removeFilierePopUpLabel">Supprimer définitivement cette filière ?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Cette action est irréversible.
                        </div>
                        <div class="modal-footer">
                            <a href="{{ path('filiere_delete', {'id': filiere.id}) }}" class="btn btn-danger">Oui</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
