{% extends 'base-admin.html.twig' %}

{% block title %}Formulaire Sondage{% endblock %}

{% block body %}
    {% if type == 'add' %}
        <h1>Nouveau sondage</h1>
    {% else %}
        <h1>Modifier le sondage</h1>
    {% endif %}

    {% if survey is defined %}
        {{ form_start(form) }}
        <div class="col-md-11">
            <div class="form-group">
                {{ form_label(form.title, 'Titre') }}
                {{ form_widget(form.title, {'attr': {'value': survey.title }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.event, 'Evenement') }}
                {% set id = survey.event.id | trans %}
                {{ form_widget(form.event, {value : id }) }}
            </div>
            <div class="form-group">
                {% set questions = survey.questions %}
                {% set inc = 1 %}
                <div class="row">
                    {% for question in questions %}
                        <div class="card question">
                            <div class="card-header">
                                <div class="row btn-suppr-flex-row">
                                    <div class="head-quest-title">
                                        Question n°{{ inc }}
                                    </div>
                                    <div class="head-quest-btn">
                                        <a href="#" class="btn btn-danger btn-suppr"><img src="{{ asset('img/icon/remove.png') }}" class="icon"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="body-question">
                                    <h5 class="card-title">{{ question.title }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ question.questionType.label }}</h6>
                                </div>
                                <div class="end-question">
                                    <a href="#" class="btn btn-violet">Modification</a>
                                </div>
                            </div>
                        </div>
                        {% set inc = inc + 1 %}
                    {% endfor %}
                </div>
            </div>
            <button class="btn btn-violet" type="button"><img src="{{ asset('img/icon/add.png') }}" class="icon"/>Ajout question</button>
            <button class="btn btn-success" type="submit"><img src="{{ asset('img/icon/valid.png') }}" class="icon"/>Valider</button>
        </div>
        {{ form_end(form) }}
    {% else %}
        {{ form_start(form) }}
        <div class="col-md-11">
            <div class="form-group">
                {{ form_row(form.title) }}
            </div>
            <div class="form-group">
                {{ form_row(form.event) }}
            </div>
            <div class="form-group">
            </div>
            <button class="btn btn-violet" type="button"><img src="{{ asset('img/icon/add.png') }}" class="icon"/>Ajout question</button>
            <button class="btn btn-success" type="submit"><img src="{{ asset('img/icon/valid.png') }}" class="icon"/>Valider</button>
        </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}