{% extends 'base-admin.html.twig' %}

{% block title %}AdminController{% endblock %}

{% block body %}
    <h1>Page</h1>
    <div class="row">

        <div class="card card-add">
            <a href="{{ path('page_add') }}"><img src="{{ asset('img/icon/add.png') }}" class="card-add-img"/></a>
        </div>

        {% for filiere in filieres %}
            <div class="card card-basic d-flex flex-column p-2">
                <h4 class="text-center mt-3 mb-4">{{ filiere.rank }} : {{ filiere.title|slice(0, 30) }} ...</h4>
                <a href="{{ path('page_delete', {'id': filiere.id}) }}" id="delete-event" class="btn btn-danger btn-block"><img src="{{ asset('img/icon/remove.png') }}" class="icon"/>Supprimer</a>
                {#<a href="" id="delete-event" class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModal"><img src="{{ asset('img/icon/remove.png') }}" class="icon"/>Supprimer</a>#}
                <a href="{{ path('page_edit', {'id': filiere.id }) }}" id="edit-event" class="btn btn-info btn-block"><img src="{{ asset('img/icon/valid.png') }}" class="icon"/>Editer</a>
            </div>

            <!-- Modal -->
            {#<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
            {#<div class="modal-dialog" role="document">#}
            {#<div class="modal-content">#}
            {#<div class="modal-header">#}
            {#<h5 class="modal-title" id="exampleModalLabel">Voulez-vous vraiment supprimer cette filière ?</h5>#}
            {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
            {#<span aria-hidden="true">&times;</span>#}
            {#</button>#}
            {#</div>#}
            {#<div class="modal-footer justify-content-center">#}
            {#<a href="{{ path('page_delete', {'id': filiere.id}) }}">#}
            {#<button type="button" class="btn btn-danger btn-block">Supprimer</button>#}
            {#</a>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
        {% endfor %}
    </div>

{% endblock %}
