{% extends 'base-admin.html.twig' %}

{% block title %}AdminController{% endblock %}

{% block body %}
    <h1 class="display-4 text-center">Editer la Filière</h1>

    <div class="row justify-content-center">
        <div class="col-12">

            {% for message in app.flashes('success') %}
                <div class="flash-notice">
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

            {{ form_start(pageForm) }}

            <div class="form-row mb-5">
                <div class="form-group col-12">
                    {{ form_label(pageForm.title) }}
                    {{ form_widget(pageForm.title, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group col-12">
                    {{ form_label(pageForm.candidate) }}
                    {{ form_widget(pageForm.candidate) }}
                </div>

                <div class="form-group col-12">
                    {{ form_label(pageForm.description) }}
                    {{ form_widget(pageForm.description) }}
                </div>
            </div>

            <div class="form-row mb-5">
                <div class="form-group col-12">
                    {{ form_label(pageForm.titleBlock1) }}
                    {{ form_widget(pageForm.titleBlock1) }}
                </div>

                <div class="form-group col-12">
                    {{ form_label(pageForm.textBlock1) }}
                    {{ form_widget(pageForm.textBlock1) }}
                </div>
            </div>

            <div class="form-row mb-5">
                <div class="form-group col-12">
                    {{ form_label(pageForm.titleBlock2) }}
                    {{ form_widget(pageForm.titleBlock2) }}
                </div>

                <div class="form-group col-12">
                    {{ form_label(pageForm.textBlock2) }}
                    {{ form_widget(pageForm.textBlock2) }}
                </div>
            </div>

            <div class="form-row mb-5">
                <div class="form-group col-12">
                    {{ form_label(pageForm.titleBlock3) }}
                    {{ form_widget(pageForm.titleBlock3) }}
                </div>

                <div class="form-group col-12">

                    {{ form_label(pageForm.textBlock3) }}
                    {{ form_widget(pageForm.textBlock3) }}
                </div>
            </div>

            <div class="form-row mb-5">
                <div class="form-group col-12">
                    {{ form_label(pageForm.titleBlock4) }}
                    {{ form_widget(pageForm.titleBlock4) }}
                </div>

                <div class="form-group col-12">
                    {{ form_label(pageForm.textBlock4) }}
                    {{ form_widget(pageForm.textBlock4) }}
                </div>
            </div>

            <div class="form-row mb-5">
                <div class="form-group col-12">
                    {{ form_label(pageForm.titleBlock5) }}
                    {{ form_widget(pageForm.titleBlock5) }}
                </div>

                <div class="form-group col-12">
                    {{ form_label(pageForm.textBlock5) }}
                    {{ form_widget(pageForm.textBlock5) }}
                </div>
            </div>

        </div>

        <div class="form-row mb-5">
            <div class="form-group col-12">
                <button type="submit" class="btn-lg btn-primary">Modifier la filière</button>
            </div>
        </div>

        {{ form_end(pageForm) }}
    </div>


{% endblock %}
