<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ qrCodeContext.title }} - QR Code</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <style>
        html, body{
            margin: 0;
            padding: 70px;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }
        h1{
            text-align: center;
            font-size: 35px;
        }
        p{
            color: #696969;
            text-align: center;
        }
        a{
            width: 100%;
            display: block;
            text-align: center;
            font-size: 20px;
            color: #131313;
            text-decoration: none;
        }
        main{
            width: 100%;
            height: auto;
            padding-top: 70px;
            display: block;
        }
        img{
            display: block;
            text-align: center;
            width: 80%;
            height: auto;
            margin: 0 10%;
        }
    </style>
</head>
<body>
<h1>{{ qrCodeContext.title }}</h1>
<p>Accédez à cette page depuis l'URL suivante ou en scannant le QR Code donnés ci-dessous :</p>
<a href="{{ qrCodeContext.link }}">{{ qrCodeContext.link }}</a>
<main>
    <img src="{{ qrCodeContext.qrcode }}"/>
</main>
</body>
</html>