{% extends 'base-admin.html.twig' %}

{% block title %}Résultat Sondage{% endblock %}

{% block body %}
    <h1>Résultat du sondage {{ survey.title }}</h1>
    {% set i = 1 %}
    <div class="row">
        {% for question in survey.questions %}
            <div class="card-result">
                <div class="row result-title">
                    <h5>Question n°{{ i }} : {{ question.title }}</h5>
                </div>
                <div class="row result-body">
                    {% if(question.questionType.label == 'Textarea' or question.questionType.label == 'Simple Text') %}
                        <br>
                        {% if question.responses[0] is defined %}
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Réponses</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for reponse in question.responses %}
                                    <tr>
                                        <td>{{ reponse.value }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <strong>Aucune réponse</strong>
                        {% endif %}
                    {% else %}
                        {% if question.responses[0] is defined %}
                            <div id="result-chart-{{ question.id }}">

                            </div>
                        {% else %}
                            <strong>Aucune réponse</strong>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% set i = i + 1 %}
        {% endfor %}
    </div>

    <!-- --------- Script --------- -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script>
        {% for question in survey.questions %}
        {% if(question.questionType.label == 'Simple choice' or question.questionType.label == 'Multiple Choice') %}
        {% set options = question.questionOptions %}
        {% if question.responses[0] is defined %}
        Highcharts.chart('result-chart-{{ question.id }}', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Réponses'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Réponse',
                colorByPoint: true,
                data: [
                    {% for option in options %}
                    {
                        name: '{{ option.value }}',
                        y: {{ option.pourcentage }}
                    },
                    {% endfor %}
                ]
            }]
        });
        {% endif %}
        {% endif %}
        {% endfor %}
    </script>

{% endblock %}

