{% extends 'admin/base-admin.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}

    <style>
        a {color:white;}
    </style>

    <h1 class="display-4">Sondages</h1>

    <p>
        Retrouvez sur cette page la liste des sondages proposés par le Lycée Marcelle Pardé.
        Vous pouvez en ajouter de nouveaux, éditer ceux qui existent déjà ou bien les supprimer.
    </p>

    <div class="row">

        <div class="card-deck">

            <div class="">
                <div class="card card-add" style="height:20em">
                    <a href="{{ path('addSurvey') }}">
                        <img src="{{ asset('img/icon/add.png') }}" class="card-add-img"/>
                    </a>
                </div>
            </div>

            {% for survey in surveys%}
                <div class="mb-3">
                    <div class="card" style="background-color: #444a90; height:20em;">
                        <div class="card-header text-center">{{ survey.event.title }}</div>
                        <div class="card-body">
                            <h6 class="card-title">{{ survey.title|slice(0, 28) }} ...</h6>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-danger btn-sm btn-block">
                                <a href="{{ path('deleteSurvey', {'id':survey.id}) }}"><i class="fas fa-trash-alt"></i> Supprimer</a>
                            </button>
                            <button type="button" class="btn btn-info btn-sm btn-block">
                                <a href="{{ path('editSurvey', {'id':survey.id}) }}"><i class="fas fa-edit"></i> Editer</a>
                            </button>
                            <button type="button" class="btn btn-dark btn-sm btn-block">
                                <a href="{{ path('singleQrcode', {'item': 'survey', 'id': survey.id, 'url': path('sondage', {'id': survey.id, 'title': slugify(survey.title) })}) }}" target="_blank"><i class="fas fa-qrcode"></i> QR-Code</a>
                            </button>
                            <button type="button" class="btn btn-success btn-sm btn-block">
                                <a href="{{ path('resultSurvey', {'id':survey.id}) }}"><i class="fas fa-poll"></i> Résultats</a>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
