{% extends 'admin/base-admin.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}
    <h1 class="display-4">Sondages</h1>

    <p>
        Retrouvez sur cette page la liste des sondages proposés par le Lycée Marcelle Pardé.
        Vous pouvez en ajouter de nouveaux, éditer ceux qui existent déjà ou bien les supprimer.
    </p>

    <div class="row">
        <div class="card card-add">
            <a href="{{ path('addSurvey') }}"><img src="{{ asset('img/icon/add.png') }}" class="card-add-img"/></a>
        </div>
        {% for survey in surveys %}
            <div class="card card-basic card-survey">
                <div class="row tag-event-div">
                    <div class="tag-event">
                        {{ survey.event.title }}
                    </div>
                </div>
                <hr>
                <div class="row title">
                    <h2 class="card-table-title">{{ survey.title }}</h2>
                </div>
                <hr>
                <div class="flex-end">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <a  data-toggle="modal" data-target="#removeSurveyPopUp{{ survey.id }}" id="delete-survey" class="btn btn-danger btn-block btn-sm" style="font-size: 0.6em; margin:-0.5em;">
                                <img src="{{ asset('img/icon/remove.png') }}" class="icon" alt=""/>
                                Suppression
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="{{ path('editSurvey', {'id':survey.id}) }}" id="edit-survey" class="btn btn-info btn-block btn-sm" style="font-size: 0.6em;" >
                                <img src="{{ asset('img/icon/edit.svg') }}" class="icon" alt=""/>
                                Edition
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="{{ path('singleQrcode', {'item': 'survey', 'id': survey.id, 'url': path('sondage', {'id': survey.id, 'title': slugify(survey.title) })}) }}" id="edit-survey" class="btn btn-dark btn-block btn-sm" target="_blank" style="font-size: 0.6em;">
                                <img src="{{ asset('img/icon/qrcode.png') }}" class="icon" alt=""/>
                                QR-Code
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="{{ path('resultSurvey', {'id':survey.id}) }}" id="result-survey" class="btn btn-success btn-block btn-sm" style="font-size: 0.6em;">
                                <img src="{{ asset('img/icon/result.png') }}" class="icon" alt=""/>
                                Résultats
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="removeSurveyPopUp{{ survey.id }}" tabindex="-1" role="dialog" aria-labelledby="removeSurveyPopUpLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="removeSurveyPopUpLabel">Supprimer définitivement cette filière ?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Cette action est irréversible.
                        </div>
                        <div class="modal-footer">
                            <a href="{{ path('deleteSurvey', {'id': survey.id}) }}" class="btn btn-danger">Oui</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
