{% extends 'base-admin.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}
    <h1>Sondage</h1>
    <div class="row">
        <a href="{{ path('addSurvey') }}">
            <div class="card card-add">
                <img src="{{ asset('img/icon/add.png') }}"/>
            </div>
        </a>
        {% for survey in surveys %}
            <div class="card card-basic card-survey">
                <div class="row tag-event-div">
                    <div class="tag-event">{{ survey.event.title }}  </div>
                </div>
                <div class="row title">
                    <h2>{{ survey.title }}</h2>
                </div>
                <div class="flex-end">
                    <a href="" id="delete-survey" class="btn btn-danger btn-survey"><img src="{{ asset('img/icon/remove.png') }}" class="icon"/>Suppression</a>
                    <a href="{{ path('editSurvey') }}" id="edit-survey" class="btn btn-info btn-survey"><img src="{{ asset('img/icon/valid.png') }}" class="icon"/>Edition</a>
                    <a href="" id="result-survey" class="btn btn-success btn-survey"><img src="{{ asset('img/icon/result.png') }}" class="icon"/>Voir les résultats</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
