{% extends 'admin/base-admin.html.twig' %}

{% block title %}QR Codes{% endblock %}

{% block body %}
    <h1 class="display-4">QR Codes</h1>
    <p>Cliquez sur les liens pour avoir le QR Code de chaque page.</p>
    <h2>Filières</h2>
    <ul class="list-group">
        {% for filiere in filieres %}
            {% set url = path('filiere', { 'id': filiere.getId, 'title': filiere.getUrlSlug }) %}
            <a href="{{ path('qrcoderendering') }}?url={{ url }}&slug={{ filiere.getUrlSlug }}">
                <li class="list-group-item">{{ filiere.getTitle }}</li>
            </a>
        {% endfor %}
    </ul>
    <br/>
    <h2>Sondages</h2>
        {% for event in events %}
            <p>{{ event.title }}</p>
            <ul class="list-group">
            {% for survey in surveys %}
                {% if event.id == survey.event.id %}
                    {% set url = path('sondage', {'event': event.title,'title': slugify(survey.title), 'id': survey.id }) %}
                    {# <a href="{{ path('sondage', {'event': event.title,'title': slugify(survey.title), 'id': survey.id }) }}"> #}
                    <a href="{{ path('qrcoderendering') }}?url={{ url }}&slug={{ event.getTitle }}-{{ survey.getTitle }}">
                        <li class="list-group-item">{{ survey.title }}</li>
                    </a>
                {% endif %}
            {% endfor %}
            </ul>
        {% endfor %}
    </ul>
    {# {{ dump(surveys) }} #}
{% endblock %}
