{% extends 'base-admin.html.twig' %}

{% block title %}QR Code généré{% endblock %}

{% block body %}

    <a class="btn btn-primary" href="{{ path('qrcodelist') }}">Retour</a>
    <p>Url associée : <a href="{{ pageUrl }}">{{ pageUrl }}</a></p>
    <div>
        <img src="{{ asset('') }}{{ fileUrl }}"/>
        {% set imgLink = asset('') ~ fileUrl %}
    </div>
    <a class="btn btn-primary" href="{{ imgLink }}">Afficher l'image</a>

{% endblock %}
