<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ qrCodeContext.title }} - QR Code</title>
    <style>
        html, body{
            margin: 0;
            padding: 15px;
            box-sizing: border-box;
        }
        header{
            height: 82px;
        }
        h1{
            font-size: 16px;
            margin-top: 0;
        }
        a{
            font-size: 12px;
            color: grey;
        }
        main{
            height: 250px;
            width: 250px;
        }
    </style>
</head>
<body>
<header>
    <h1>{{ qrCodeContext.title }}</h1>
    <a href="{{ qrCodeContext.link }}">{{ qrCodeContext.link }}</a>
</header>
<main>
    {{ dump(qrCodeContext.qrcode) }}
</main>
</body>
</html>