{% extends 'front/base.html.twig' %}

{% block title %}Filière!{% endblock %}

{% block body %}
    <div class="container mt-4 mb-4" id="mlds">

        <div class="row">
            <div class="col-12 block">
                <h1 class="text-center">Accueil Relations Clientèle Usager</h1>
                <p><em class="text-lead">Admission après la classe de 3ème - La candidature s’effectue par la procédure AFFELNET dans l’établissement d’origine</em></p>
                <p>
                    Le titulaire du Bac pro ARCU accueille les clients ou les usagers en face à face ou par téléphone et
                    assure la prise en charge de leurs demandes ou réclamations ; conseille, informe et assiste le client
                    ou l’usager ; propose et réalise des ventes de services ; exerce ses activités dans les entreprises
                    de services aux particuliers ou aux entreprises (agences de tourisme, société de location, compagnies
                    aérienne, maritime et ferroviaire, organismes de crédit et assurances, centres de loisirs…), dans les
                    services d’information et de production, les administrations, les SAV d’entreprises, mairies, hôtels
                    de région, hôpitaux…
                </p>
            </div>
        </div>

        <div class="row justify-content-around text-justify mt-4">
            <div class="col-3 block">
                <div class="row mt-2 justify-content-center">
                    <div><img src="{{ asset('img/icon/settings.svg') }}" alt="" class="mx-auto" width="50px"></div>
                </div>

                <h2 class="text-center">Qualités Requises</h2>
                <ul>
                    <li>Etre à l'écoute</li>
                    <li>Rigoureux</li>
                    <li>Dynamique</li>
                    <li>Présentation soigné</li>
                    <li>Contact aisé</li>
                </ul>
            </div>

            <div class="col-3 block">
                <div class="row mt-2 justify-content-center">
                    <div><img src="{{ asset('img/icon/handyman-tools.png') }}" alt="" class="mx-auto" width="50px"></div>
                </div>

                <h2 class="text-center">Compétences Développées</h2>
                <p>
                    Capacité à répondre aux demandes en face à face ou par téléphone, développement du sens de l’écoute,  valuation de la satisfaction de l’interlocuteur, compétences commerciales : savoir vendre des
                    services, assurer le démarchage, traiter la mise à jour de fichiers prospects, établir des factures et encaisser.
                </p>
            </div>

            <div class="col-3 block">
                <div class="row mt-2 justify-content-center">
                    <div><img src="{{ asset('img/icon/university-lecture.svg') }}" alt="" class="mx-auto" width="50px"></div>
                </div>

                <h2 class="text-center">Les formations en entreprise</h2>
                <p>22 semaines de stage en entreprise réparties sur 3 ans que dure
                    la formation : hôtel, centre médical, mairie, administrations,
                    agence intérim, organisme culturel, entreprise</p>
            </div>
        </div>

        <div class="row justify-content-around text-justify mt-4">
            <div class="col-5 block">
                <div class="row mt-2 justify-content-center">
                    <div><img src="{{ asset('img/icon/business-person.svg') }}" alt="" class="mx-auto" width="50px"></div>
                </div>

                <h2 class="text-center">Vie active</h2>
                <ul>
                    <li>Hôte/Hôtesse d’accueil / de caisse / en agence événementielle</li>
                    <li>Chargé(e) de l’accueil</li>
                    <li>Standardiste</li>
                </ul>
            </div>

            <div class="col-5 block">
                <div class="row mt-2 justify-content-center">
                    <div><img src="{{ asset('img/icon/study.svg') }}" alt="" class="mx-auto" width="50px"></div>
                </div>

                <h2 class="text-center">Poursuite d'Etudes</h2>
                <ul>
                    <li>Mention complémentaire Accueil dans les transports : Agent d’escale en aéroport ou dans une société aéroportuaire</li>
                    <li>Mention complémentaire Accueil réception : réceptionniste dans les établissements d’hébergement (hôtel, résidence médicalisée, centre de loisirs…)</li>
                    <li>BTS Tourisme : production de vente de voyages et séjours pour des clients français et étrangers</li>
                    <li>BTS Assistant(e) de gestion PME – PMI : assistant(e)  commercial(e), secrétaire</li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
