{% extends 'front/base.html.twig' %}

{% block title %}Histoire du lycée{% endblock %}

{% block body %}
    <div class="container-fluid" id="main-content">

        <div class="row mt-4 mb-4 text-justify justify-content-around  align-items-center" >
            <div class="col-10">
                <h1>Un peu d'histoire...</h1>
                <p>En 1883, Jules FERRY, Président du conseil, ministre de l’instruction publique et des beaux arts, et Vincent TRIQUET,
                    maire de BOURG EN BRESSE, signent un traité au sujet de la fondation à BOURG d’un lycée de jeunes femmes, recevant
                    des externes libres et surveillées (c'est-à-dire restant à l’étude le soir).
                </p>
                <p>La ville propose, pour installer le nouvel établissement, les locaux de l’ancienne gendarmerie, entre la route de LYON,
                    le chemin de ronde (qui devient en 1887 le Boulevard Paul BERT) et l’étroite rue de la plume.
                </p>
                <p>Beaucoup de critiques se font ressentir car l’environnement du lycée sera semé d’indésirables (maisons closes et maisons de jeu).</p>
                <p>L’architecte Tony FERRET est recruté pour élaborer les plans d’un nouveau bâtiment.</p>
            </div>

            <div class="col-2">
                <img src="{{ asset('img/img_lycee3.jpg') }}" class="img-fluid hvr-box-shadow-outset" alt="">
            </div>
        </div>

        <div class="row mt-4 mb-4 text-justify justify-content-around  align-items-center">
            <div class="col-8">
                <img src="{{ asset('img/img_lycee6.jpg') }}" class="img-fluid hvr-box-shadow-outset" alt="">
            </div>

            <div class="col-3">
                <img src="{{ asset('img/img_lycee4.jpg') }}" class="img-fluid hvr-box-shadow-outset" alt="">
            </div>
        </div>


        <div class="row mt-4 mb-4 text-justify justify-content-around align-items-center">
            <div class="col-4">
                <img src="{{ asset('img/img_lycee5.jpg') }}" class="img-fluid hvr-box-shadow-outset" alt="">
            </div>
            <div class="col-8">
                <p>Le 7 septembre 1888, le maire et l’Inspecteur d’Académie peuvent annoncer à la presse l’ouverture, pour le
                    1er octobre 1888, du lycée national de jeunes filles de BOURG. La première rentrée compte 79 élèves,
                    toutes externes. Les effectifs ne cessant d’augmenter, il faut construire un internat, ce qui est fait en 1896.
                </p>
                <p>En juillet 1903, le lycée de jeunes filles devient le lycée Edgar QUINET, en l’honneur du centenaire de la
                    naissance du philosophe et écrivain.
                </p>
            </div>
        </div>

        <div class="row mt-4 mb-4 text-justify justify-content-around  align-items-center">
            <div class="col-7">
                <p>La bâtiment est réquisitionné pendant la 1ère guerre mondiale : il devient hôpital militaire.
                    Ne pouvant plus accueillir d’internes, le lycée perd plus de 50 élèves.<p>

                <p>Lors de la 2de guerre mondiale, le lycée redevient hôpital militaire mais l’internat peut rouvrir
                    car peu de blessés y sont acheminés jusqu’en 1944, quand les allemands s’installent dans les locaux.
                    L’après guerre comporte beaucoup de difficultés : vétusté des locaux, rationnement…
                    Cependant, les effectifs ne cessent de croître. En 1967, par exemple, il y a plus de 1200 élèves.</p>

                <p>En 1970, le lycée déménage dans ses nouveaux locaux et le lycée professionnel Marcelle PARDÉ est baptisé
                    en 1971. Il sera entièrement restructuré en 2002.</p>
            </div>

            <div class="col-5">
                <img src="{{ asset('img/img_lycee2.jpg') }}" class="img-fluid hvr-box-shadow-outset" alt="">
            </div>
        </div>

    </div>

{% endblock %}
