{% extends 'front/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container mt-4 mb-4" id="mlds">

        <div class="card mt-3 mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ asset('img/girl-reading-book.jpg') }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8 hvr-underline-from-left">
                    <div class="card-body">
                        <h5 class="card-title">Nos formations</h5>
                        <p class="card-text">Découvrez les formations dispensés au Lycée Marcelle Pardé</p>
                        <a href="{{ path('formations') }}" class="btn btn-outline-primary">Voir la page</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-3 mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ asset('img/help.jpg') }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8 hvr-underline-from-left">
                    <div class="card-body">
                        <h5 class="card-title">Nos dispositifs spéciaux</h5>
                        <p class="card-text">Parce que nous avons tous le droit à un coup de pouce, découvrez nos dispositifs spéciaux</p>
                        <a href="{{ path('mlds') }}" class="btn btn-outline-primary btn-block">Mission de lutte contre le décrochage scolaire</a>
                        <a href="{{ path('ulis') }}" class="btn btn-outline-primary btn-block">Uité localisée pour l'inclusion scolaire</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-3 mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ asset('img/survey.jpg') }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8 hvr-underline-from-left">
                    <div class="card-body">
                        <h5 class="card-title">Nos sondages</h5>
                        <p class="card-text">Répondez à nos sondages !</p>
                        <a href="{{ path('sondages') }}" class="btn btn-outline-primary">Voir la page</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-3 mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ asset('img/history.jpg') }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8 hvr-underline-from-left">
                    <div class="card-body">
                        <h5 class="card-title">Histoire du lycée</h5>
                        <p class="card-text">Retracez l'histoire de notre lycée, de sa construction en 1888 jusqu'à sa restructuration en 2002 en passant par les deux grandes guerres !</p>
                        <a href="{{ path('histoire') }}" class="btn btn-outline-primary">Voir la page</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
