{% extends 'front/base.html.twig' %}

{% block title %}Questionnaires{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <br />
                <h1>Questionnaires</h1>
                <br />
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Journée portes ouvertes 19 Avril 2019</th>
                        <th scope="col">Date de début</th>
                        <th scope="col">Date de fin</th>
                        <th scope="col">Résultats</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Sondage Accueil Relation Clientèle Usager</td>
                        <td>10/04/2019 - 09h00 </td>
                        <td>10/04/2019 - 09h00 </td>
                        <td><button type="button" class="btn btn-info"><img src="{{ asset('img/icon/look.svg') }}" width="20px" class="mr-1" alt="">Résultats</button></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Sondage Accueil Relation Clientèle Usager</td>
                        <td>10/04/2019 - 09h00 </td>
                        <td>10/04/2019 - 09h00 </td>
                        <td><button type="button" class="btn btn-info"><img src="{{ asset('img/icon/look.svg') }}" width="20px" class="mr-1" alt="">Résultats</button></td>
                    </tr>
                    </tbody>

                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Journée Portes ouvertes 12 Janvier 2020</th>
                        <th scope="col">Date de début</th>
                        <th scope="col">Date de fin</th>
                        <th scope="col">Résultats</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Sondage Accueil Relation Clientèle Usager</td>
                        <td>10/04/2019 - 09h00 </td>
                        <td>10/04/2019 - 09h00 </td>
                        <td><button type="button" class="btn btn-info"><img src="{{ asset('img/icon/look.svg') }}" width="20px" class="mr-1" alt="">Résultats</button></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Sondage ASSP (Option Structure)</td>
                        <td>10/04/2019 - 09h00 </td>
                        <td>10/04/2019 - 09h00 </td>
                        <td><button type="button" class="btn btn-info"><img src="{{ asset('img/icon/look.svg') }}" width="20px" class="mr-1" alt="">Résultats</button></td>
                    </tr>
                    </tbody>

                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Journée Portes ouvertes 14 Juin 2021</th>
                        <th scope="col">Date de début</th>
                        <th scope="col">Date de fin</th>
                        <th scope="col">Résultats</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Sondage Métiers de la mode</td>
                        <td>14/06/2021 à 09h00</td>
                        <td>14/06/2021 à 09h00</td>
                        <td><button type="button" class="btn btn-info"><img src="{{ asset('img/icon/look.svg') }}" width="20px" class="mr-1" alt="">Résultats</button></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Sondage 3ème prépa Métiers</td>
                        <td>14/06/2021 à 09h00 </td>
                        <td>14/06/2021 à 09h00 </td>
                        <td><button type="button" class="btn btn-info"><img src="{{ asset('img/icon/look.svg') }}" width="20px" class="mr-1" alt="">Résultats</button></td>
                    </tr>
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>
{% endblock %}
