{% extends 'front/base.html.twig' %}

{% block title %}Sondages{% endblock %}

{% block body %}
    {{ dump() }}
    <div class="container-fluid" id="questionnaires">

        <div class="row mt-4 mb-4">
            <div class="col-12 text-center d-flex row justify-content-center align-items-center">
                <img src="{{ asset('img/icon/survey.svg') }}" alt="" width="40px">
                <h1>Sondages</h1>
            </div>
        </div>

        {% for event in events %}
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ event.title }}</th>
                            <th scope="col">Début le {{ event.dateOfOpening|date("m/d/Y") }}</th>
                            <th scope="col">Fin le {{ event.dateOfClosure|date("m/d/Y") }}</th>
                        </tr>

                        </thead>
                        <tbody>
                        {% set i = 1 %}
                        {% for survey in surveys %}
                            {% if event.id == survey.event.id %}
                                <tr>
                                    <th scope="row">{{ i }} {% set i = i + 1 %}</th>
                                    <td colspan="3"><a href="{{ path('sondage', {'event': event.title,'title': slugify(survey.title), 'id': survey.id }) }}">{{ survey.title }}</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <br />
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
