{% extends 'front/base.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}
    {#{{ dump(questions) }}#}
    <div class="container-fluid" id="questionnaires">

        <div class="row mt-4 mb-4">
            <div class="col-12 text-center">
                <h1><img src="{{ asset('img/icon/survey.svg') }}" alt="" width="30px">test</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <form>
                    {% for question in questions %}
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="exampleFormControlInput1">{{ question.title }}</label>

                                {% if question.questionType.label == 'Simple Text' %}
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Saisissez votre réponse...">

                                {% elseif question.questionType.label == 'Textarea' %}
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Saisissez votre réponse..."></textarea>

                                {% elseif question.questionType.label == 'Simple Choice' %}

                                    {% set options = question.questionOptions.toArray() %}

                                    {% for option in options %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="{{ option.value }}" checked>
                                            <label class="form-check-label" for="exampleRadios1">{{ option.value }}</label>
                                        </div>
                                    {% endfor %}

                                {% elseif question.questionType.label == 'Multiple Choice' %}

                                    {% set options = question.questionOptions.toArray() %}

                                    {% for option in options %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="{{ option.value }}" id="defaultCheck1">
                                            <label class="form-check-label" for="defaultCheck1">{{ option.value }}</label>
                                        </div>
                                    {% endfor %}

                                {% endif %}



                            </div>
                        </div>
                    {% endfor %}

                    <div class="form-row">
                        <div class="form-group text-center col">
                            <button type="submit" class="btn btn-primary mb-2">Soumettre mes réponses</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

{% endblock %}
