{% extends 'front/base.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}
    <div class="container-fluid" id="questionnaires">

        <div class="row mt-4 mb-4">
            <div class="col-12 text-center">
                <h1><img src="{{ asset('img/icon/survey.svg') }}" alt="" width="30px">{{ survey.title }}</h1>
                <small>{{ survey.event.title }}</small>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                {% if submitted is defined %}
                    <div class="alert alert-success" role="alert">
                        Bravo ! Vous avez soumis vos réponses.
                    </div>
                {% endif %}
                <form method="post">
                    {% for question in survey.questions %}
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="exampleFormControlInput1">{{ question.title }}</label>

                                {% if question.questionType.label == 'Simple Text' %}
                                    <input type="text" class="form-control" id="question-{{ question.id }}" name="question-{{ question.id }}" placeholder="Saisissez votre réponse...">

                                {% elseif question.questionType.label == 'Textarea' %}
                                    <textarea class="form-control" id="question-{{ question.id }}" name="question-{{ question.id }}" rows="3" placeholder="Saisissez votre réponse..."></textarea>

                                {% elseif question.questionType.label == 'Simple Choice' %}

                                    {% set options = question.questionOptions.toArray() %}

                                    {% for option in options %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="question-{{ question.id }}[]" id="option-{{ option.id }}" value="{{ option.id }}">
                                            <label class="form-check-label" for="option-{{ option.id }}">{{ option.value }}</label>
                                        </div>
                                    {% endfor %}

                                {% elseif question.questionType.label == 'Multiple Choice' %}

                                    {% set options = question.questionOptions.toArray() %}

                                    {% for option in options %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="{{ option.id }}" name="question-{{ question.id }}[]" id="option-{{ option.id }}">
                                            <label class="form-check-label" for="option-{{ option.id }}">{{ option.value }}</label>
                                        </div>
                                    {% endfor %}

                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="form-row">
                        <div class="form-group text-center col">
                            <button type="submit" class="btn btn-primary mb-2">Soumettre mes réponses</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

{% endblock %}
