<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul id="sidebar_menu" class="sidebar-nav">
        <img src="{{ asset('img/logo-admin.png') }}" id="logo-img"/>
    </ul>
    <ul class="sidebar-nav" id="sidebar">
        <li><a href="{{ path('listAdmins') }}"><img src="{{ asset('img/icon/admin.svg') }}" class="icon"/>Administrateurs</a></li>
        <li><a href="{{ path('filiere_list') }}"><img src="{{ asset('img/icon/file.png') }}" class="icon"/>Filières & Dispositifs</a></li>
        <li><a href="{{ path('event') }}"><img src="{{ asset('img/icon/event.png') }}" class="icon"/>Evenements</a></li>
        <li><a href="{{ path('survey') }}"><img src="{{ asset('img/icon/poll.png') }}" class="icon"/>Sondages</a></li>
        <li><a href="{{ path('tableau_list') }}"><img src="{{ asset('img/icon/table.svg') }}" class="icon"/>Tableau</a></li>
        <li><a href="{{ path('contact_edit') }}"><img src="{{ asset('img/icon/message2.svg') }}" class="icon"/>Infos de contact</a></li>
        <li><a href="{{ path('singleQrcode', {'item': 'homepage', 'id': 1, 'url': path('index') }) }}" target="_blank"><img src="{{ asset('img/icon/qrcode.png') }}" class="icon"/>QR Code Page Accueil</a></li>
        <li><a href="{{ path('index') }}"><img src="{{ asset('img/icon/home.png') }}" class="icon"/>Retour au site</a></li>
    </ul>
</div>