<!-- Sidebar -->
<nav class="col-md-2 d-none d-md-block bg-dark sidebar">
    <div class="sidebar-sticky navbar">

        <img src="{{ asset('img/logo-admin.png') }}" id="logo-img" alt=""/>

        <h1 class="h3 text-center" style="color:#f1f2f3; font-family: 'Montserrat-bold', sans-serif">Administration</h1>

        <ul class="nav flex-column">

            <li>
                <a class="nav-link" href="{{ path('filiere_list') }}">
                    <i class="fas fa-file-alt"></i>
                    Filières & Dispositifs
                </a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('tableau_list') }}">
                    <i class="fas fa-table"></i>
                    Tableau
                </a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('event') }}">
                    <i class="far fa-calendar-alt"></i>
                    Evenements
                </a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('survey') }}">
                    <i class="fas fa-poll"></i>
                    Sondages
                </a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('contact_edit') }}">
                    <i class="far fa-envelope"></i>
                    Contact
                </a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('singleQrcode', {'item': 'homepage', 'id': 1, 'url': path('index') }) }}" target="_blank">
                    <i class="fas fa-qrcode"></i>
                    QR Code Page Accueil
                </a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('listAdmins') }}">
                    <i class="fas fa-user"></i>
                    Administrateurs
                </a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('index') }}">
                    <i class="fas fa-home"></i>
                    Retour au site
                </a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('logout') }}" id="signout">
                    <i class="fas fa-sign-out-alt"></i>
                    Déconnexion
                </a>
            </li>
        </ul>
    </div>
</nav>